*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'DM Sans',sans-serif;
}

body{
    background:#f4f4f4;
    padding:40px 20px;
}

.container{
    max-width:1200px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:30px;
    color:#1e293b;
}

.task-card{
    background:#fff;
    padding:25px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.task-card h3{
    color:#2563eb;
    margin-bottom:20px;
    font-size:28px;
}

.task-list{
    list-style:none;
}

.task-list li{
    margin-bottom:12px;
}

summary{
    background:#f1f5f9;
    padding:12px 15px;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
    transition:0.3s;
}

summary:hover{
    background:#dbeafe;
    color:#1d4ed8;
}

details ul{
    list-style:none;
    margin-top:10px;
    margin-left:20px;
}

details ul li{
    margin:8px 0;
}

details ul li a{
    text-decoration:none;
    color:#2563eb;
    padding:8px;
    display:block;
    border-radius:5px;
}

details ul li a:hover{
    background:#eff6ff;
}

.back-btn{
    display:inline-block;
    margin-bottom:20px;
    text-decoration:none;
    background:#2563eb;
    color:white;
    padding:10px 20px;
    border-radius:6px;
}

.back-btn:hover{
    background:#1d4ed8;
}