        h1 {
            color: white;
            background-color: black;
        }

        .para1 {
            color: orange;
            background-color: red;
        }

        ul {
            background-color: violet;
        }

        li {
            color: black;
        }

        h2 {
            color: lightpink;
            background-color: blue;
        }

        .para2 {
            color:brown;
            background-color: yellow;
        }

        h3 {
            color: brown;
            background-color: gray;
        }

        .para3 {
            color: white;
            background-color: red;
        }