* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    gap: 20px;
    padding: 20px;
    margin: 10px;
    align-items: center;
    border-radius: 10px;
    
}